<style>


  body {
    text-align: center;
  }
  h3 {
    color: white;

    border: 5px solid white;

  }
</style>
<body>


<%= button_to "Listener Login", "/login_listener", method: "get", class: 'btn btn-secondary' %>
<%= button_to "Musician Login", "/login_musician", method: "get", class: 'btn btn-secondary' %>
</body>
