@import 'bootstrap-sprockets';
@import 'bootstrap';

.navbar-custom {
   background-color: #463cb2;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
   color: rgb(204, 74, 225);
   height: 20px;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
   color: rgba(255,255,255,.5);
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
   color: #ffffff;
}


.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
   color: #333333;
   background-color: rgba(255,255,255,.5);
 }

form.navbar-form.navbar-right.search-form {
 display: flex !important;
 flex-direction: row;
}

form {
 margin: 0 300px;
}

input {
 padding: 10px;
 border-radius: 5px;
}

label {
 text-align: center;
 // font-size: 16px;
}

* {
   box-sizing: border-box;
}

input[type=text],input[type=password], select, textarea {
  width: 100%;
  padding: 12px;
  border: 5px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #463cb2;
    margin: auto;
    width: 30rem !important;
    border: 3px;
    padding: 10px;
}
// .center {
//     margin: auto;
//     width: 50%;
//     border: 3px solid green;
//     padding: 10px;
// }

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.col-md-2 {
width: 100% !important;
}

/* Clear floats after the columns */
.row:after {
  content: “”;
  display: table;
  clear: both;
}
.outer-divs{
position: absolute;
}

form {
margin: 0 500px;
}

input {
padding: 10px;
border-radius: 5px;
}
body {
 background-image: url("background_image1.jpg");
}
