<ul>
  <% musician_reviews.each do |review| %>
    <h4>By: <%= "#{review.listener.user_name} - #{review.rating}/5"%></h4>
    <% if !review.content.empty? %>
      <li><%= review.content %><br></br></li>
    <% end %>
  <% end %>
</ul>
