<ul>
  <% listener_reviews.each do |review| %>
    <h4>For: <%= link_to "#{review.musician.name}", musician_path(review.musician)%> <%=" - #{review.rating}/5"%></h4>
    <li><%= review.content %><br></br></li>
    <%= button_to "Edit Review", edit_review_path(review), method: "get" %>
  <% end %>
</ul>
